.cmyprogress {
  width: 100%;
  background-color: #ddd;
  margin-bottom: 20px;
}

.cmybar {
  width: 0%;
  height: 35px;
  background-color: lightblue;
  text-align: center;
}

.clabel {
  text-align: center;
  line-height: 35px;
  color: #000;
}

select {
  height: 30px;
}

.Btn {
  padding: 4px 10px;
  color: #000;
  margin-right: 10px;
}

@media only screen and (max-width: 500px) {
  select {
    margin-top: 20px;
  }
}
